# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# Vite production build output
dist/
dist-ssr/
*.local

# TS build info
*.tsbuildinfo

# ES Lint / Stylelint cache
.eslintcache
.stylelintcache

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*.local

# Supabase CLI local files
supabase/.temp/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
